:root{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    --color_back:rgba(255, 255, 255, 0.053);
    --primary_color: rgb(0, 145, 255)  ;
    --primary_hover: rgb(0, 106, 255);
    --error_message:red;
    --background:url(../assets/Desert\ Bloom\ –\ Arizona.png);
}